extends ../layout.jade

block content
  h1 All categories
  if categories.length > 0
    ul
      each category in categories
        li= category._id
  else
    h4 No categories available
  a(href='categories/new') Add new one