doctype html
html ng-app
  head
    title Edx MEAN course
    link(rel='stylesheet', href='/vendor_lib/bootstrap/dist/css/bootstrap.min.css')
    script(src='/vendor_lib/angular/angular.js')
  body
    block content