body > section.container {
  margin-top: 50px;
}
.article .short_info {
  margin: 10px 0px;
  padding: 0px;
}

.article .short_info h3{
  font: bold 14px sans-serif;
  margin: 0;
}
.article .short_info h3 em{
  padding: 0 5px 0 0;
  font-weight: normal;
}
.article .short_info time{

}

.article h2{

}

footer {
  background-color: #494141;
  color: white;
  padding-top: 20px;
  border-radius: 5px 5px 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
