extends ../layout.jade

block content
  div(class="container")
    header
      nav(class="navbar navbar-default")
        ul(class="nav navbar-nav pull-right")
          li
            a(href="#hero") Home
          li
            a(href="#hero") Blog
          li
            a(href="#hero") News

    section(id="articles" class="row")
      h2(class="hidden") Articles
      article(class="article col-lg-10 col-md-10 col-md-offset-1")
        h2 Title
        section(class="short_info")
          h3
            em Author:
            |First Last
          time 01/20/2016 - 10:30pm
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
